# Données brutes 16S (trop volumineuses)
data/16S/raw/*.fastq.gz
data/16S/raw/*.fastq
data/16S/raw/*.sff

# Données brutes shotgun (trop volumineuses)
data/shotgun/raw/*.fastq.gz
data/shotgun/raw/*.fastq

# Données comparatives brutes
data/comparative/raw/*.fastq.gz
data/comparative/raw/*.fastq

# Artefacts QIIME2 (trop volumineux)
data/16S/qiime2_artifacts/*.qza
data/16S/qiime2_artifacts/*.qzv

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.tmp

# Notebooks Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
*~

# Logs
*.log

# Artefacts diversité QIIME2
data/16S/qiime2_artifacts/diversity/*.qza
data/16S/qiime2_artifacts/diversity/*.qzv
data/16S/qiime2_artifacts/*.qza
data/16S/qiime2_artifacts/*.qzv
