# Données brutes (trop volumineuses)
data/raw/*.fastq.gz
data/raw/*.fastq
data/raw/*.sff

# Artefacts QIIME2 (trop volumineux)
data/qiime2_artifacts/*.qza
data/qiime2_artifacts/*.qzv

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.tmp

# Notebooks Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
*~

# Logs
*.log
